.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: transparent;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    border: 1px solid yellow;
    border-radius: 25px;
    cursor: pointer;
    user-select: none;
}

.boton-clear:hover{
    background-color: yellow;
    color: black;
}

.boton-clear:active{
transform: scale(.96)}